@font-face {
  font-family: 'axel';
  src: url('/static/fonts/axel-regular.ttf');
}
@font-face {
  font-family: 'axel-bold';
  src: url('/static/fonts/axel-bold.ttf');
}
body {
  margin: 0;
  padding: 0;
  font-family: axel, sans-serif;
  font-size: 0.9em;
  background: #F8F8F8;
}
body a {
  color: black;
}
body nav {
  padding: 0.4em 2em;
  width: 100%;
  overflow: hidden;
}
body nav a {
  width: 20px;
  text-decoration: none;
  display: block;
  float: left;
  margin: 2px;
}
body nav a img {
  width: 20px;
}
section {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
section h1,
section h2,
section h3,
section h4,
section h5 {
  margin-bottom: 0.2em;
}
section p {
  margin-top: 0.4em;
  margin-bottom: 1.4em;
}
section li {
  padding-left: 1.2em;
}
section header {
  font-size: 1.8em;
  font-family: axel-bold;
}
section ul.big-list {
  width: 80%;
  margin: 2em auto;
  padding: 0;
  list-style-type: none;
}
section ul.big-list li {
  padding: 0;
  list-style-type: none;
  border-bottom: 1px dashed silver;
}
section ul.big-list li a {
  max-width: 80%;
  font-size: 1.5em;
  text-decoration: none;
}
section ul.big-list li img {
  max-height: 0.88em;
  line-height: 1.1em;
  float: right;
}
section article abbr {
  border-bottom: 1px dotted silver;
}
section form {
  width: 100%;
}
section form textarea {
  width: 100%;
}
section input[type=text], section input[type=password], section textarea {
  width: 100%;
  margin: 0.4em auto;
  padding: 0.4em;
  font-size: 1.11em;
  border: 1px solid silver;
  display: block;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  -webkit-box-shadow: inset 2px 2px 10px #dedede;
  -moz-box-shadow: inset 2px 2px 10px #dedede;
  box-shadow: inset 2px 2px 10px #dedede;
  font-family: axel, sans-serif;
}
section textarea {
  height: 40em;
  font-size: 0.9em;
}
section input[type=submit] {
  max-width: 100px;
  margin: 0.4em auto;
  padding: 0.4em;
  font-size: 0.94em;
  border: 1px solid #222;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  border-radius: 0.4em;
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #eeeeee, #ffffff);
  background: -moz-linear-gradient(center bottom, #eeeeee 0%, #ffffff 100%);
}
section input[type=submit]:hover {
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #aaaaaa), color-stop(1, #dddddd));
  background: -ms-linear-gradient(bottom, #aaaaaa, #dddddd);
  background: -moz-linear-gradient(center bottom, #aaaaaa 0%, #dddddd 100%);
}
section #id_title {
  font-size: 2em;
  background: transparent;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
  font-family: axel-bold, axel, sans-serif;
}
section #id_content {
  background: transparent;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px dashed silver;
}
section #login {
  width: 200px;
  margin: 4em auto;
}
section #login input {
  width: 100%;
}
section #login input[type=submit] {
  opacity: 0;
}
section ul.tagit input[type="text"] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
section .tagit {
  display: none;
}
section .ajax-feedback {
  float: right;
  display: block;
}
@media screen and (max-width: 400px) {
  section {
    width: 95%;
  }
  section header {
    font-size: 1.4em;
  }
}
@media print {
  body {
    background: white;
  }
  body:after {
    content: 'skole.lkng.me';
    width: 50%;
    display: block;
    margin: 1 auto;
    text-align: center;
  }
}
