.border-radius (@radius: 10px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}
.box-shadow(@pref: inset 2px 2px 10px #DEDEDE){
	-webkit-box-shadow:@pref;
	-moz-box-shadow:@pref;
	box-shadow:@pref;
}

.gradient(@color: #F5F5F5, @start: #EEE, @stop: #FFF) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, @start),
                               color-stop(1, @stop));
  background: -ms-linear-gradient(bottom,
                                  @start,
                                  @stop);
  background: -moz-linear-gradient(center bottom,
                                   @start 0%,
                                   @stop 100%);
}

@font-face{
    font-family: 'axel';
    src: url('/static/fonts/axel-regular.ttf');
}
@font-face{
    font-family: 'axel-bold';
    src: url('/static/fonts/axel-bold.ttf');
}



body{
    margin:0;
    padding:0;
    font-family: axel, sans-serif;
    font-size:0.9em;
    background:#F8F8F8;

    a{
        color: black;

    }
    nav{
        padding: 0.4em 2em;
        width:100%;
        overflow:hidden;
        a{
            width:20px;
            text-decoration: none;
            display: block;
            float:left;
            margin: 2px;
            img{
                width: 20px;
            }
        }
    }
}
section{
    width: 80%;
    max-width:800px;
    margin: 0 auto;
    h1,h2,h3,h4,h5{margin-bottom:0.2em;}
    p{
        margin-top:0.4em;
        margin-bottom: 1.4em;
    }
    ul{
        padding: 0.5em 1.2em;
        margin: 0;
        li{
            ul{
                padding: 0.1em 1.2em;
            }
        }
    }
    strong{
        font-family: axel-bold;
    }
    header{
        font-size: 1.8em;
        font-family: axel-bold;
    }
    ul.big-list{
            width: 80%;
            margin:2em auto;
            padding:0;
            list-style-type: none;
            li{
                padding:0;
                list-style-type: none;
                    border-bottom: 1px dashed silver;
                a{
                    max-width:80%;
                    font-size: 1.5em;
                    text-decoration:none;
                }
                img{
                    max-height:0.88em;
                    line-height:1.1em;
                    float: right;
                }
            }
        }
    article{
        abbr{
            border-bottom: 1px dotted silver
        }
    }

    form{
        width: 100%;
        textarea{
            width: 100%;
        }
    }
    input[type=text],
    input[type=password],
    textarea{
        width: 100%;
        margin: 0.4em auto;
        padding: 0.4em;
        font-size: 1.11em;
        border: 1px solid silver;
        display:block;
        .border-radius(0.2em);
        .box-shadow();
        font-family: axel, sans-serif;
    }
    textarea{
        height: 40em;
        font-size: 0.9em;
    }
    input[type=submit]{
        max-width: 100px;
        margin: 0.4em auto;
        padding: 0.4em;
        font-size: 0.94em;
        border: 1px solid #222;
        .border-radius(0.4em);
        .gradient();
    }
    input[type=submit]:hover{
        .gradient(#F5F5F5, #AAA, #DDD);
    }
    #id_title{
        font-size: 2em;
        background: transparent;
        .border-radius(none);
        .box-shadow(none);
        border:none;
        font-family: axel-bold, axel, sans-serif;
    }
    #id_content{
        background: transparent;
        .border-radius(none);
        .box-shadow(none);
        border: 1px dashed silver;
    }
    #login{
        width: 200px;
        margin: 4em auto;
        input{
            width: 100%;
        }
        input[type=submit]{
            opacity: 0;
        }
    }
    ul.tagit input[type="text"]{
        .box-shadow(none);
    }
    .tagit{
        display:none;
    }
    .ajax-feedback{
        float: right;
        display: block;
    }
    hr{
        border: 0;
        height: 1px;
        background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
        background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
        background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
        background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    }
}

@media screen and (max-width: 400px){
    section{
        width:95%;
        header{
            font-size: 1.4em;
        }
    }
}

@media print{
    body{
        background: white;
    }
    body:after{
        content: 'skole.lkng.me';
        width: 50%;
        display: block;
        margin: 1 auto;
        text-align:center;

    }
}
