{% extends "base.html" %}
{% load i18n %}

{% block nav %}
    {% if not courses %}<a href="{% url app.notes.views.list %}">{% trans "Back" %}</a>{% endif %}
{% endblock %}

{% block content %}
    {% if notes %}
        <ul class="big-list">
    {% for note in notes %}
        <li><a href="{% url app.notes.views.view note.pk %}">{{ note }}</a></li>
    {% endfor %}
        </ul>
    {% endif %}
    {% if courses %}
        <ul class="big-list">
        {% for course in courses %}
            <li><a href="{% url app.notes.views.list course.code %}">{{ course }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock %}