{% extends "base.html" %}
{% load i18n %}

{% block nav %}
    {% if not courses %}
        <a href="{% url app.notes.views.list %}"><img src="/static/icons/32/back.png" alt="{% trans "Back" %}"/></a>
        {% if request.user.is_staff %}
            <a href="{% url app.notes.views.add course.code %}"><img src="/static/icons/32/add.png"
                                                                     alt="{% trans "Add note" %}"/></a>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if notes %}
        <ul class="big-list">
            {% for note in notes %}
                <li><a href="{% url app.notes.views.view note.pk %}">{{ note }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if courses %}
        <ul class="big-list">
            {% for course in courses %}
                <li><a href="{% url app.notes.views.list course.code %}">{{ course }}</a>
                    {% if request.user.is_staff %}
                        <a href="{% url app.notes.views.add course.code %}">
                            <img src="/static/icons/32/add.png" alt="{% trans "Add" %}">
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}