{% extends "base.html" %}
{% load i18n %}

{% block nav %}
    <a href="{% url app.notes.views.view note.pk %}">{% trans "Back to note" %}</a>
{% endblock %}

{% block include %}
    <script src="/static/js/notes.edit.js"></script>
    {% if form.tags %}
    <script>
        function enableTags(){
            $.ajax({
                url: "/notes/tags/",
                type: "GET",
                success: function(msg){
                    $(function(){
                        $('#id_tags').tagit({
                            availableTags: msg,
                            singleField: true,
                            singleFieldNode: $('#id_tags')
                        });
                    });
                }
            });
        }
        enableTags();
	</script>
    {% endif %}
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <input type="text" id="id_title" name="title" placeholder="{% trans "Title" %}" value="{{ form.instance.title }}"/>
        {{ form.content }}
    </form>
{% endblock %}