{% extends "notes/base.html" %}
{% load markup %}
{% load i18n %}

{% block nav %}
    <a href="{% url app.notes.views.list note.course.code %}"><img src="/static/icons/32/back.png" alt="{% trans "Back" %}"/></a>
    <a href="{% url app.notes.views.edit note.pk %}"><img src="/static/icons/32/edit.png" alt="{% trans "Back" %}"/></a>
    {% if preview %}
        <a href="{% url app.notes.views.view note.pk %}"><img src="/static/icons/32/toggle.png" alt="{% trans "Back" %}"/></a>
        <strong>[Preview]</strong>
    {% else %}
        <a href="{% url app.notes.views.preview note.pk %}"><img src="/static/icons/32/toggle.png" alt="{% trans "Back" %}"/></a>
    {% endif %}

{% endblock %}
{% block include  %}
    {% if preview %}
    <script type="text/javascript" src="/static/js/notes.preview.js"></script>
    {% endif %}
{% endblock %}

{% block content %}
    <header>{{ note.title }}</header>
    <article data-type="note"
             data-id="{{ note.pk }}"
             data-timestamp="{{ note.date_saved|date:"d.m.y h:i" }}">
        {{ note.content|markdown }}
    </article>
{% endblock %}