{% extends "base.html" %}
{% load i18n %}
{% load markup %}

{% block include %}
    <script src="/static/js/algorithms.js"></script>
{% endblock %}

{% block content %}
    <ul class="algorithms">

        {% for algorithm in algorithms %}
            <li>
                <h2>{{ algorithm }}<hr/></h2>

                <div class="details">
                    {% if algorithm.time_best_case %}<strong>{% trans "Best case" %}:</strong> ${{ algorithm.time_best_case }}$<br/>{% endif %}
                    {% if algorithm.time_worst_case %}<strong>{% trans "Worst case" %}:</strong> ${{ algorithm.time_worst_case }}$<br/>{% endif %}

                    <div class="description">{{ algorithm.description }}</div>
                    {% if algorithm.pros %}<div class="pros"><strong>{% trans "Pros" %}</strong> {{ algorithm.pros|markdown }}</div>{% endif %}
                    {% if algorithm.cons %}<div class="cons"><strong>{% trans "Cons" %}</strong> {{ algorithm.cons|markdown }}</div>{% endif %}
                    <div class="clear"></div>
                    <div class="tags">
                        <strong>{% trans "Tags" %}:</strong>
                        {% for tag in algorithm.tags.all %}<a href="{% url app.algorithms.views.list tag.slug %}">{{ tag }}</a>
                        {% endfor %}</div>
                <hr/>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}